@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
 margin: auto;
 padding: 0;
 font-family: 'Open Sans', sans-serif;
 background-image: url('https://source.unsplash.com/1920x1080/?landscape');
 background-image: blur(5px) brightness(0.5);
 background-repeat: none;
 background-attachment: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Poppins', sans-serif;
 height: auto;
}
main {
 text-align: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 15px;
 margin: 50px 10px;
 background-color: rgb(245, 245, 245);
 
 max-width: 900px;
 border-radius: 10px;
 box-shadow: 0 0 20px rgba(8, 8, 8, 0.507);
}